node_modules/
.expo/
dist/
web-build/

npm-debug.*
*.orig.*

.env
.env.*
!.env.example

*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Expo Router
expo-env.d.ts

# Native projects
ios/
android/

# macOS
.DS_Store

# Metro
.metro-health-check*
